<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render :partial => 'unfollow', :locals => {:follow_user => @user} %>
  <% else %>
    <%= render :partial => 'follow', :locals => {:follow_user => @user} %>
  <% end %>
  </div>
<% end %>
